In [1]:
#Use quotation marks for defining strings
"Michael Jackson"

'Michael Jackson'

In [2]:
#Use single quotation marks for defining strings
'Michael Jackson'

'Michael Jackson'

In [3]:
#Digitals and spaces in string
'1 2 3 4 5 6'

'1 2 3 4 5 6'

In [4]:
#Special characters in string
'@#2_#]&^%$'

'@#2_#]&^%$'

In [5]:
#Print the string
print ("hello!")

hello!

In [6]:
#Assign string to variable
Name="Michael Jackson"
Name

'Michael Jackson'

In [7]:
#Print the first element in the string
print (Name[0])

M

In [8]:
#Print the element on index 6 in the string
print (Name[6])

l

In [2]:
Name="Michael Jackson"
Name

'Michael Jackson'

In [3]:
#Print the element on the 13th index in the string
print (Name[13])

o

In [4]:
#Print the last element in the string
print (Name[-1])

n

In [5]:
#Print the first element in the string
print (Name[-15])

M

In [6]:
#Find the length of string
len ("Michael Jackson")

15

In [7]:
#Take the slice on variable Name with only index 0 to index 3
Name [0:4]

'Mich'

In [8]:
#Take the slice on variable Name with only index 8 to index 11
Name [8:12]

'Jack'

In [9]:
#Get every second element. The element on index 1,3,5...
Name[::2]

'McalJcsn'

In [2]:
Name="Michael Jackson"
Name

'Michael Jackson'

In [3]:
#Get every second element in the range from index 0 to index 4
Name [0:5:2]

'Mca'

In [5]:
#Concatenate two strings
Statement=Name + " is the best"
Statement

'Michael Jackson is the best'

In [7]:
#Print the string for 3 times
3* " Michael Jackson"

' Michael Jackson Michael Jackson Michael Jackson'

In [11]:
#Concatenate strings
Name= " Michael Jackson"
Name= Name + " is the best"
Name

' Michael Jackson is the best'

In [12]:
#New line escape sequence
print( " Michael Jackson \n is the best" )

 Michael Jackson
 is the best

In [13]:
#Tab escape sequence
print ( "Michael Jackson \t is the best" )

Michael Jackson 	 is the best

In [14]:
#Include back slash in string
print ( " Michael Jackson \\ is the best" )

 Michael Jackson \ is the best

In [15]:
# r will tell python that string will display as raw string
print(r" Michael Jackson \ is the best" )

 Michael Jackson \ is the best

In [16]:
#Convert all the characters in string to upper case
A = "Thriller is the sixth studio album"
print ("before upper:", A)
B = A. upper ()
print ("After upper:", B)

before upper: Thriller is the sixth studio album
After upper: THRILLER IS THE SIXTH STUDIO ALBUM

In [17]:
#Replace the old substring with the new target substring is the segment has been found in the string
A = "Michael is the best"
B = A. replace ('Michael', 'Janet')
B

'Janet is the best'

In [19]:
#Find the substring in the string. Only the index of the first element of substring in string will be the output
Name = "Michael Jackson"
Name. find('el')

5

In [20]:
Name.find('Jack')

8

In [21]:
#If cannot find the substring in the string
Name.find ('Jasdfasdasdf')

-1

In [23]:
#Write your code below and press Shift+Enter to execute
A = "1"
A

'1'

In [24]:
B = "2"
B

'2'

In [25]:
C = A + B
C

'12'

In [27]:
D = "ABCDEFG"
print (D[:3])

ABC

In [29]:
E = 'clocrklelclt'
print (E[::2])

corlll

In [30]:
print ("\\")

\

In [32]:
print (r" \ ")

 \

In [37]:
F = "You are wrong"
print ("before upper:",F)
G = F.upper ()
print ("After upper:",G)

before upper: You are wrong
After upper: YOU ARE WRONG

In [38]:
G = "Mary had a little lamb Little lamb, little lamb Mary had a little lamb \
Its fleece was white as snow And everywhere that Mary went Mary went, Mary went \
Everywhere that Mary went The lamb was sure to go"
G.find ("snow")

95

In [39]:
G.replace ('Mary','Bob')

'Bob had a little lamb Little lamb, little lamb Bob had a little lamb Its fleece was white as snow And everywhere that Bob went Bob went, Bob went Everywhere that Bob went The lamb was sure to go'